@import './icons-extra';

@font-face {font-family: "iconfont";
  src: url('assets/fonts/iconfont.ttf') format('truetype');
}
body {
    color: #5c5757;
    background-color: #fff;
}
#app{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanzhu:before { content: "\e60f"; }

.icon-jinbi:before { content: "\e601"; }

.icon-gupiao-copy:before { content: "\e600"; }

.icon-vip:before { content: "\e61a"; }

.icon-ioseye:before { content: "\e6a8"; }

.icon-huodong:before { content: "\e617"; }

.icon-fenxiang:before { content: "\e610"; }

.icon-message:before { content: "\e77f"; }

.icon-chongzhi1:before { content: "\e6b0"; }

.icon-icon103:before { content: "\e61b"; }

.icon-news:before { content: "\e634"; }

.icon-paihang:before { content: "\e60c"; }

.icon-yin-yang:before { content: "\e670"; }

.icon-taocan:before { content: "\e65e"; }

.icon-goumai:before { content: "\e611"; }

.icon-chongzhi:before { content: "\e646"; }

.icon-guanyu:before { content: "\e638"; }

.icon-paihangbang:before { content: "\e65b"; }

.mui-bar~.mui-content .mui-fullscreen {
    top: 44px;
    height: auto;
}

.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
}

.mui-bar~.mui-pull-top-tips {
    top: 24px;
}

.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
    /*-webkit-backface-visibility: hidden;
                -webkit-transition-duration: 400ms;
                transition-duration: 400ms;*/
    margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
    /*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}

.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.mui-pull-top-canvas canvas {
    width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #efeff4;
}

.full-extfooter{
	margin-bottom: 50px;
}

*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.color-link{
	color: #59a8f8;
}
header.mui-bar{
	text-align: center;
	background: #c9333e;
	&>*{
		color: #fff;
		font-weight: normal;
	}
}
.mui-bar .mui-btn-link{
	color: #fff;
}
header.mui-bar .mui-icon-extra{
	line-height: 44px;
}
.mui-bar-tab{
	.mui-tab-item{
		&.mui-active{
			color: #f85959;
		}
	}
}
.mui-bar-nav{
	.icon-text{
		width: 44px;
		text-align: center;
		padding: 3px 0 2px;
		font-weight: lighter;
		.mui-icon{
			font-size: 18px;
			display: block;
			padding: 0;
			margin: 0;
		}
		.mui-tab-label{
			font-size: 12px;
			line-height: 12px;
		}
	}
}
.mui-popup-button{
    color: #f85959;
}

.ball{
    float: left;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f85959;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-right: 8px;
    list-style: none;
    &.blue {
        background-color: #59a8f8;
    }
}
.mball{
	@extend .ball;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin:0 4px 4px 0;
}

.lottery-classify {
    top: 44px;
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    .mui-scrollbar{
        display: none;
    }
    ul {
        padding: 0;
        margin: 0;
        width: 35rem;
    }
    li {
        list-style: none;
        float: left;
        width: 5rem;
        padding: 0 1rem;
        white-space: nowrap;
        line-height: 38px;
        font-size: 15px;
        position: relative;
        border-bottom: 1px solid #ccc;
        text-align: center;
        background-color: #fff;
        &.active {
            color: #d43d3d;
            &:after {
                content: '';
                display: block;
                height: 2px;
                background-color: #d43d3d;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.mini-classify {
    padding: 0 1rem;
    ul {
        overflow: hidden;
        padding: 8px 0;
    }
    li {
        float: left;
        text-align: center;
        line-height: 27px;
        font-size: 13px;
        box-sizing: border-box;
        padding: 4px;
        &.active span {
            background: #c9333e;
            color: #fff;
            border: 1px solid #c9333e;
        }
        span {
            display: block;
            border: 1px solid #f1f1f1;
            border-radius: 27px;
            i {
                font-size: 18px;
                color: #9d9d9d;
            }
        }
    }
}
