@import './vars';

.res-board {
    display: block;
    position: relative;
    padding: 0 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    h3 {
        font-size: 14px;
        font-weight: normal;
        padding: 10px 0;
        margin: 0;
        color: #5c5757;
    }
    ol {
        padding: 0 0 10px 0;
        margin: 0;
        overflow: hidden;
    }
}

.notice {
    border-bottom: 1px solid #ccc;
    line-height: 31px;
    padding-left: 1rem;
    font-size: 13px;
    color: #868383;
    white-space: nowrap;
    .iconfont {
        color: #f85959;
        margin-right: 5px;
        vertical-align: middle;
    }
}

.home {
    position: absolute;
    bottom: 50px;
    top: 83px;
    .mui-slider-group {
        height: 100%;
        .mui-scroll-wrapper {
            /*top: 265px;*/
            &.combine{
                /*top: 195px;*/
            }
        }
    }
    .mui-slider-item>div{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .scroll-container{
        flex: 60;
        position: relative;
    }
    .li-praised{
        border-top: 1px solid #ccc;
        
        .mui-table-view-cell {
            padding-right: 5px;
        }
        .mui-table-view-cell > a:not(.mui-btn){
            margin-right: -5px;
        }
        li{
            color: #989595;
            img{
                border-radius: 50%;
                position: absolute;
                top: 50%;
                transform: translate3d(0,-50%,0);
            }
            &>a>em{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate3d(0,-50%,0);
                font-style: inherit;
                color: #f85959;
            }
            .mui-media-body{
                margin-left: 50px;
                border-left: 1px solid #ccc;
                padding-left: 10px;
            }
            h3{
                font-size: 15px;
                line-height: 20px;
                color: #5c5757;
                font-weight: normal;
                &>*{
                    display: inline-block;
                    vertical-align: middle;
                }
                small{
                    color: #f85959;
                    border:1px solid #f85959;
                    border-radius: 5px;
                    padding: 0 5px;
                    font-size: 13px;
                    margin-left: 6px;
                }
            }
        }
    }
}
@media (max-width: 400px)
{
    .home{
        .li-praised{
            li{
               &>a>em{
                    right: 10px;
                } 
            }
        }
    }
}